* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d9e6ff;

}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 400px;
    background-color: #1f74ba;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 30px;
    color: #fff;
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #4a628a;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-title {
    font-size: 16px;
    color: white;
}

.profile-body {
    margin-bottom: 30px;
}

.info-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info-group i {
    font-size: 20px;
    color: white;
    margin-right: 15px;
    width: 25px;
}

.info-group span {
    font-weight: 600;
    margin-right: 10px;
}

.info-group p {
    color: #ccc;
}

.profile-actions {
    text-align: center;
}

#editProfileBtn {
    background: transparent;
    border: 2px solid #4a628a;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#editProfileBtn:hover {
    background: #ff641c;
    color: #fff;
}